* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}

body {
    overflow-x: hidden;
}
main.row {
    height: 1200px;
    background-image: url('images/earth_weather_img.gif');
    background-repeat: no-repeat;
    background-image: contain;
    background-size: 90%;
    background-position-x: center;
}

h1.quiz-title {
    text-align: center;
    color: #00bfff;
    background-color: rgba(21,16,13,0.85);
    width: 60%;
    max-width: 500px;
    border-radius: 4px;
    font-size: 6em;
    margin: 20% auto 10px auto;
}

.start-page, .question-page, .feedback-page, .results-page {
    text-align: center;
}

button {
    cursor: pointer;
}

.start-page p {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    background-color: rgba(21,16,13,0.85);
    color: #ffffff;
    font-size: 2em;
    border-radius: 4px;
}

#start-button {
    font-size: 1.25em;
    color: rgb(21,16,13);
    padding: 10px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #00bfff;
    margin-top: 15px;
}

.question-page, .feedback-page {
    background-color: rgba(21,16,13,0.85);
    color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: -30px; */
    padding: 20px;
    border-radius: 4px;
}

.question-page p {
    width: 100%;
}

.answer-submit, .next-submit, .restart-quiz-submit {
    font-size: 1em;
    width: 100px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #00bfff;
    color: rgb(21,16,13);
}

fieldset {
    text-align: left;
    width: 95%;
    margin: 20px auto;
    padding: 10px;
}

.current-question-text {
    width: 75%;
    max-width: 600px;
    margin: 10px auto;
    font-size: 100%;
}

.answer-input {
    margin: 10px 5px 10px 10px;
}

.answer-feedback-image, #results-page-img {
    display: block;
    width: 90%;
    margin: 20px auto;
}


.current-score, .final-quiz-score {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.results-page {
    background-color: rgba(21,16,13,0.8);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 60%;
}

.final-score-h2 {
    margin-top: 10px;
}

.final-score-h2, .final-quiz-score {
    color: white;
    font-size: 1.5em;
}

[alt~="anemometer"] {
    height: 300px;
}

.restart-quiz-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    font-size: 1.15em;
}




/**** media queries ****/

@media only screen and (max-width: 740px) {
    main.row {
      height: 750px;
      background-position-y: 50px;
    }

    h1.quiz-title {
        font-size: 3.5em;
    }

    .start-page p {
        font-size: 1.25em;
        width: 90%;
    }

    #start-button {
        font-size: 1em;
    }

  }

@media only screen and (max-width: 768px) {
    main.row {
      height: 800px;
      background-position-y: 50px;
    }

    h1.quiz-title {
        font-size: 4.5em;
    }

    .question-page, .feedback-page {
        width: 60%;
      }

      fieldset {
          width: 50%;
      }

  }

  @media only screen and (min-width: 769px) {
      main.row {
          margin-top: 20%;
      }

      .question-page, .feedback-page {
        width: 60%;
      }

      fieldset {
          width: 50%;
      }

      .final-score-h2, .final-quiz-score {
        font-size: 2em;
    }

  }

